@import "config";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

%accent-btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.8rem 2.5rem;
  background-color: color(accent);
  color: #fff;
  border-radius: 2rem;
  font-size: 0.9rem;
  font-weight: 600;
  transition: 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

body {
  color: color(text);
  overflow-x: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  max-width: 100%;
}

.nav {
  padding: 15px;

  a {
    text-decoration: none;
    color: color(text);
    font-weight: 600;
    font-size: 1.5rem;

    span {
      color: color(accent);
    }
  }
}

section#hero {
  margin-bottom: 2rem;

  .hero__container {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;

    @include mobile {
      grid-template-columns: 1fr;
    }

    .hero__text {
      h1 {
        font-size: 2rem;
        margin-bottom: 1.2rem;
        line-height: 1.4;
        font-weight: 500;
      }

      p {
        font-size: 1rem;
        line-height: 1.5;
        color: color(light-text);
        margin-bottom: 2rem;
      }

      button {
        @extend %accent-btn;

        @include mobile {
          width: 100%;
        }
      }
    }
  }
}

section#convenient {
  background-color: color(light-bg);
  padding: 1rem;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    grid-gap: 1rem;
    padding: 4rem 0;

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  .convenient__text {
    h2 {
      font-size: 1.7rem;
      margin-bottom: 1.7rem;
    }

    .convenient__text__statement {
      color: color(light-text);
      line-height: 1.5;
      margin-bottom: 1.5rem;
      width: 80%;

      @include tablet {
        width: 100%;
      }
    }

    .profile {
      display: flex;
      align-items: center;

      @include mobile {
        flex-direction: column;
        align-items: flex-start;
      }

      .profile__image {
        width: 45px;
        height: 45px;
        object-fit: cover;
        margin-right: 1.5rem;
        border-radius: 50%;

        @include mobile {
          margin-bottom: 1rem;
        }
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}

section#flexible {
  background-color: color(light-bg);
  padding-bottom: 4rem;

  .flexible__heading {
    text-align: center;
    margin-bottom: 2rem;

    h2 {
      margin-bottom: 1.3rem;
    }

    h4 {
      color: color(light-text);
      font-weight: 500;
      line-height: 1.5;
      width: 80%;
      margin: auto;

      @include mobile {
        width: 100%;
      }
    }
  }

  .flexible__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center;
    padding: 0 1rem;

    @include mobile {
      grid-template-columns: 1fr;
    }

    .flexible__grid__text ul {
      list-style: none;

      li {
        margin-bottom: 0.3rem;
        line-height: 1.5;
        color: color(light-text);
        display: flex;
        align-items: center;

        span {
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: color(accent);
        }

        p {
          display: inline-block;
          margin-left: max(1.4rem);
        }
      }
    }
  }
}

section#whychoose {
  padding: 3rem 0;
  text-align: center;

  h2 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .whychoose__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 3rem;
    margin-bottom: 4rem;

    @include tablet {
      column-gap: 1rem;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }

    .whychoose__reason {
      text-align: left;

      h4 {
        font-size: 1.4rem;
        margin-bottom: 1.2rem;
      }

      p {
        color: color(light-text);
        width: 80%;
        line-height: 1.5;

        @include tablet {
          width: 90%;
        }

        @include mobile {
          width: 100%;
        }
      }
    }
  }

  button {
    @extend %accent-btn;
    text-align: center;
    padding: 0.7rem 6rem;
    font-size: 1rem;

    @include mobile {
      width: 100%;
      padding: 0.7rem 1rem;
    }
  }
}

section#satisfaction {
  background-color: color(light-bg);
  padding: 1rem;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 1rem;
    padding: 4rem 0;

    @include mobile {
      grid-template-columns: 1fr;
    }

    .satisfaction__text {
      h2 {
        margin-bottom: 1.5rem;
        font-size: 1.7rem;
      }

      .satisfaction__text__statement {
        color: color(light-text);
        line-height: 1.5;
        margin-bottom: 1.5rem;
        width: 80%;

        @include tablet {
          width: 100%;
        }
      }

      .profile {
        display: flex;
        align-items: center;

        @include mobile {
          flex-direction: column;
          align-items: flex-start;
        }

        .profile__image {
          width: 45px;
          height: 45px;
          object-fit: cover;
          margin-right: 1.5rem;
          border-radius: 50%;

          @include mobile {
            margin-bottom: 1rem;
          }
        }

        p {
          font-size: 0.9rem;
        }
      }
    }
  }
}

section#answers {
  padding: 3rem 0;
  text-align: center;

  h2 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .answers__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 3rem;
    margin-bottom: 4rem;

    @include tablet {
      column-gap: 1rem;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }

    .answers__answer {
      text-align: left;

      h4 {
        font-size: 1.4rem;
        margin-bottom: 1.2rem;
      }

      p {
        color: color(light-text);
        width: 80%;
        line-height: 1.5;

        @include tablet {
          width: 90%;
        }

        @include mobile {
          width: 100%;
        }
      }
    }
  }
}

section#boost {
  padding: 1rem;
  text-align: center;
  margin-bottom: 2rem;

  h2 {
    font-size: 1.8rem;
    width: 50%;
    margin: 1.5rem auto;

    @include tablet {
      width: 70%;
      line-height: 1.4;
    }

    @include mobile {
      width: 100%;
    }
  }

  p {
    margin-bottom: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
  }

  button {
    @extend %accent-btn;
    width: 40%;
    font-size: 1rem;

    @include tablet {
      width: 60%;
    }

    @include mobile {
      width: 100%;
    }
  }
}

footer {
  padding: 2rem;
  text-align: center;
  color: color(light-text);

  p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  small {
    font-size: 0.8rem;
  }
}
